@use 'scss/config' as *;

.block {
  @include flex($direction: column);

  gap: var(--gap-16);
}

.form,
.list {
  @include flex($direction: column);

  gap: var(--gap-16);
}

.button {
  margin-left: auto;
}

.hr {
  margin-block: var(--gap-32);
  background-color: var(--color-grey-200);
}

.question {
  position: relative;
  padding: var(--gap-16);
  border-radius: var(--border-radius-4);
  border-width: rem(1px);
  border-style: solid;

  &.alt {
    margin-left: var(--gap-16);

    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: rem(-16px);
      width: rem(1px);
      background-color: var(--color-grey-300);
      content: '';
    }
  }
}

.head {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: flex-start;
  gap: var(--gap-16);
}

.content {
  @include flex($direction: column);

  gap: var(--gap-4);
}

.date {
  font-size: rem(12px);
  opacity: 0.8;
}

.text {
  font-size: rem(13px);
}

.badges {
  @include flex($align-items: center, $wrap: wrap);

  gap: var(--gap-8);
}

.badge {
  padding: var(--gap-4) var(--gap-6);
  cursor: pointer;
  border-radius: var(--border-radius-4);
  background-color: var(--color-secondary);
  color: var(--color-primary-hover);
  font-weight: var(--typography-bold);
  font-size: rem(12px);
}
