@use 'scss/config' as *;
@use 'scss/modules/color' as *;

.wrapper {
  @include flex($align-items: center, $wrap: wrap);

  padding-top: var(--gap-4);
  gap: var(--gap-10);
}

.color {
  @include color;
}
