@use 'scss/config' as *;

@mixin button {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: var(--button-height);
  padding-inline: var(--gap-12);
  border-radius: var(--border-radius-4);
  box-shadow: var(--box-shadow-16-24);
  color: var(--color-white);
  white-space: nowrap;
  font-weight: var(--typography-medium);

  &.disabled,
  &:disabled {
    opacity: 0.5;
    pointer-events: none;
    user-select: none;
  }

  &.loading {
    pointer-events: none;

    .icon,
    .text {
      opacity: 0;
    }
  }

  &.primary {
    background-color: var(--color-primary);
    background-image: var(--gradient-blue);

    &:active,
    &.active {
      background: var(--color-primary-hover);
    }

    @include hover {
      background: var(--color-primary-hover);
      box-shadow: 0 rem(16px) rem(36px) rem(-18px) var(--color-primary-hover);
    }
  }

  &.secondary {
    color: var(--color-text);
    box-shadow: none;

    @include hover {
      color: var(--color-primary-hover);
      background-color: var(--color-grey-50);
    }
  }

  &.alt {
    background-color: var(--color-white);
    border: rem(1px) solid var(--color-primary);
    color: var(--color-primary);

    &:active,
    &.active {
      background: rgb(235, 237, 254);
    }

    @include hover {
      color: var(--color-primary-hover);
      border-color: var(--color-primary-hover);
      box-shadow: 0 rem(16px) rem(36px) rem(-18px) rgba(72, 88, 133, 0.4);
    }
  }

  &.gold {
    background: var(--gradient-gold);
  }

  &.blue {
    background-color: var(--color-secondary);
    color: var(--color-primary-hover);

    @include hover {
      background-color: var(--color-secondary-hover);
    }
  }

  &.reverse {
    flex-direction: row-reverse;
  }

  &.reference {
    padding-inline: 0;
    height: auto!important;
    color: var(--color-primary-hover);
    font-weight: var(--typography-bold);
    text-decoration-color: var(--color-primary-hover);
    text-decoration-line: underline;
    text-decoration-thickness: rem(1.5px);
    text-underline-offset: rem(1.75px);
    box-shadow: none;

    @include hover {
      text-decoration-color: transparent;
    }
  }

  //&:not(.square, .reference) {
  //  min-width: rem(100px);
  //}

  &.xs {
    --icon-size: 16px;
    --button-height: 32px;

    gap: var(--gap-6);
    font-size: rem(12px);
  }

  &.sm {
    --icon-size: 18px;
    --button-height: 40px;

    gap: var(--gap-8);
    font-size: rem(14px);
  }

  &.md {
    --icon-size: 24px;
    --button-height: 48px;

    gap: var(--gap-12);
    font-size: rem(16px);
  }

  &.lg {
    --icon-size: 20px;
    --button-height: 56px;

    gap: var(--gap-12);
    font-size: rem(16px);
  }

  &.square {
    padding: 0;
    aspect-ratio: 1 / 1;
  }

  &.left {
    justify-content: flex-start;
  }

  &.default {
    @include size(auto);
  }

  &.wide {
    width: 100%;
  }

  &.warning {
    background-color: var(--color-warning);
  }

  &.success {
    background-color: var(--color-success);
  }

  &.info {
    background-color: var(--color-info);
  }

  .loading,
  .icon {
    flex-shrink: 0;
    width: var(--icon-size);
    height: var(--icon-size);
  }

  .loading {
    @include absolute-center;

    animation: 2s infinite ease-in-out spin;
  }
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotateZ(0);
  }

  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}
