@use 'scss/config' as *;

.block {
  @include flex(center);

  position: fixed;
  inset: 0;
  z-index: $z-index-11;
  padding-block: var(--gap-32);
}

.wrapper {
  @include flex($direction: column);
  @include size(rem(384px), 100%);

  position: relative;
  background-color: var(--color-white);
  box-shadow: var(--box-shadow-16-36);
  border-radius: var(--border-radius-8);
  overflow: hidden;
  z-index: inherit;
}

.title {
  @include flex($align-items: center);

  position: relative;
  margin-bottom: var(--gap-16);
  min-height: rem(32px);
  gap: var(--gap-12);
}

.close,
.arrow {
  @include size(fit-content);

  padding: 0;
}

.close {
  margin-left: auto;
}

.header,
.footer,
.body {
  padding-inline: var(--gap-32);
}

.header,
.body {
  padding-block: var(--gap-16);
}

.header {
  background-color: var(--color-grey-50);
  border-bottom-width: rem(1px);
  border-bottom-style: solid;
}

.body {
  @include scroll;

  color: var(--color-grey-700);
  font-weight: var(--typography-bold);
  flex-grow: 1;
}

.footer {
  padding-bottom: var(--gap-16);
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, auto);
  align-items: center;
  justify-content: flex-start;
  margin-bottom: var(--gap-16);
  gap: var(--gap-6);
}

.subtitle {
  margin-bottom: var(--gap-8);
  font-size: rem(11px);
  text-transform: uppercase;
}

.model {
  padding: var(--gap-12) var(--gap-8);
  border-bottom-width: rem(1px);
  border-bottom-style: solid;
  font-weight: var(--typography-regular);
}

.img {
  @include size(rem(32px));
}

.item {
  font-size: rem(14px);
  font-weight: var(--typography-regular);
}
