@use '@/scss/config' as *;

.block {
  @include size(rem(215px), rem(128px));
  @include flex(center, center, column);
  @include make-spacer(p, var(--gap-16));

  gap: var(--gap-4);
  border-radius: var(--border-radius-8);
  background-color: var(--color-white);
  box-shadow: var(--box-shadow-4-16);
  overflow: hidden;
  border-width: rem(1px);
  border-style: solid;

  @include hover {

    &:hover {
      border-color: var(--color-primary);

      .image {
        transform: translateX(rem(10px));
      }

      .arrow {
        width: rem(18px);
      }

      .text {
        transform: translateX(0);
        color: var(--color-primary)
      }
    }
  }
}

.image {
  @include transition(all);

  max-height: 80px;
}

.headline {
  @include flex($align-items: center);

  gap: var(--gap-8);
}

.text {
  @include transition(all);
  
  transform: translateX(var(--gap-4));
}

.arrow {
  @include transition(all);

  color: var(--color-primary);
  width: 0;
}