@use 'scss/config' as *;

.block {
  display: grid;
  align-items: flex-end;
  row-gap: var(--gap-12);
  column-gap: var(--gap-24);

  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.left,
.right {
  @include flex;

  gap: var(--gap-8);
}

.field {
  flex-grow: 1;
}
