@use 'scss/config' as *;

.block {
  position: relative;
  border-radius: var(--border-radius-2);
  height: 100%;

  &:nth-child(1) {
    background: linear-gradient(to right, rgb(103, 185, 46), rgb(103, 185, 46));
  }

  &:nth-child(2) {
    background: linear-gradient(to right, rgb(103, 185, 46), rgb(103, 185, 46));
  }

  &:nth-child(3) {
    background: linear-gradient(to right, rgb(104, 185, 46), rgb(196, 209, 21));
  }

  &:nth-child(4) {
    background: linear-gradient(to right, rgb(201, 210, 19), rgb(247, 193, 6))
  }

  &:nth-child(5) {
    background: linear-gradient(to right, rgb(247, 189, 5), rgb(255, 136, 0))
  }
}

.marker {
  @include size(rem(3px), rem(21px));

  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background: inherit;
  border-radius: var(--border-radius-2);
}

.value {
  @include flex(center, center, column);

  position: absolute;
  bottom: calc(100% + rem(4px));
  left: 0;
  min-width: rem(125px);
  padding: var(--gap-12);
  border-radius: var(--border-radius-4);
  background: inherit;
  clip-path: polygon(0px 0px, 100% 0px, 100% 90%, 0% 90%, 0% 100%, 6% 90%, 0px 90%);
  text-align: center;
  font-size: rem(12px);
  text-transform: uppercase;

  &.reverse {
    right: 0;
    left: auto;
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 94% 90%, 100% 100%, 100% 90%, 0 90%);
  }

  * {
    position: relative;
    color: var(--color-white);
  }

  @include media-breakpoint-up(lg) {
    bottom: calc(100% + rem(32px));
  }
}
