@use 'scss/config' as *;

.block {

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
    user-select: none;
  }

  @include hover {
    .input {
      border-color: var(--color-primary);
    }
  }
}

.wrapper {
  @include flex;

  position: relative;
}

.input {
  @include transition(border-color);

  padding: var(--gap-12);
  width: 100%;
  min-height: rem(70px);
  max-height: rem(120px);
  border: rem(1px) solid var(--color-grey-400);
  font-size: rem(13px);
  resize: vertical;
  background-color: transparent;
  text-align: left;
  border-radius: var(--border-radius-4);

  &::placeholder {
    color: var(--color-text);
    opacity: 0.5;
  }

  &:focus {
    outline: 0;
    border-color: var(--color-primary);
    box-shadow: 0 0 0 4px rgba(62, 71, 221, 0.16);
  }
}
