@import '@/scss/config';

.block {
  display: grid;
  grid-gap: var(--gap-6);

  &.warning {

    .field {
      box-shadow: 0 0 0 4px rgba(231, 76, 60, 0.12);
    }

    .status {
      color: var(--color-warning);
    }
  }

  &.success {

    .field {
      box-shadow: 0 0 0 4px rgba(7, 188, 12, 0.12);
    }

    .status {
      color: var(--color-success);
    }
  }
}

.label,
.rules {
  display: block;
}

.status {
  position: absolute;
  top: rem(-8px);
  right: rem(-8px);
  z-index: $z-index-1;
}

.field {
  position: relative;
  border-radius: var(--border-radius-4);
}

.label {
  font-size: rem(10px);
  letter-spacing: rem(0.5px);
  text-transform: uppercase;
  font-weight: var(--typography-bold);
}

.rules {
  font-size: rem(12px);
  color: var(--color-warning);
}