@use 'scss/config' as *;

.block {
  display: grid;
  grid-gap: var(--gap-6);
  height: fit-content;

  &.warning {

    .field {
      box-shadow: 0 0 0 4px rgba(231, 76, 60, 0.12);
    }

    .status {
      color: var(--color-warning);
    }
  }

  &.success {

    .field {
      box-shadow: 0 0 0 4px rgba(7, 188, 12, 0.12);
    }

    .status {
      color: var(--color-success);
    }
  }
}

.rules {
  display: block;
  font-size: rem(12px);
  color: var(--color-warning);
}

.status {
  position: absolute;
  top: rem(-8px);
  right: rem(-8px);
  z-index: $z-index-1;
  border-radius: 50%;

  &::before {
    position: absolute;
    inset: 1px;
    border-radius: inherit;
    background-color: currentColor;
    z-index: -1;
    content: '';
  }

  svg {
    display: block;
    color: var(--color-white);
  }
}

.field {
  position: relative;
  border-radius: var(--border-radius-4);
}
