@use 'scss/config' as *;

.block {
  display: grid;
  gap: var(--gap-4);

  @include media-breakpoint-up(md) {
    min-width: rem(320px);
  }
}

.option {
  @include flex($align-items: center);

  min-height: rem(40px);
  gap: var(--gap-8);
}

.icon {
  @include size(rem(20px));

  position: relative;
  border-radius: 50%;
  border: rem(1px) solid var(--color-grey-200);
  overflow: hidden
}

.image {
  @include size(rem(24px));
  @include absolute-center;
}

.text {
  font-weight: var(--typography-medium);
}
