@import '@/scss/config';

.block {
  display: grid;
  grid-template-columns: rem(320px) 1fr;
  align-items: flex-start;
  gap: var(--gap-32);
}

.header,
.content,
.footer {
  @include make-spacer(px, var(--gap-16));
  @include make-spacer(pt, var(--gap-16));
}

.section,
.wrapper,
.list {
  display: grid;
}

.section,
.wrapper {
  gap: var(--gap-8);
}

.filter {
  // @include flex($direction: column);
  
  // position: sticky;
  // top: calc(var(--header-height) + rem(36px));
  // max-height: calc(100dvh - var(--header-height) - rem(72px));
  // overflow-y: hidden;
  border-radius: var(--border-radius-8);
  background-color: var(--color-white);
  box-shadow: var(--box-shadow-4-16);
}

// .content {
//   flex-grow: 1;
//   overflow-y: auto
// }

.title {
  @include flex(space-between, center);

  min-height: rem(38px);
}

.header {
  box-shadow: var(--box-shadow-4-16);
  border-bottom-width: rem(1px);
  border-bottom-style: solid;
}

.footer {
  @include flex($direction: column);
  @include make-spacer(pb, var(--gap-16));

  border-top-width: rem(1px);
  border-top-style: solid;
  gap: var(--gap-16);
}

.content {
  @include make-spacer(pb, var(--gap-16));

  display: grid;
  gap: var(--gap-16);
  align-self: flex-start;
}

.tab {
  @include make-spacer(mt, var(--gap-16));
  @include make-spacer(mx, -16px);

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: rem(68px);
}

.option {
  @include flex(center, center, column);

  position: relative;
  gap: var(--gap-8);
  border-radius: var(--border-radius-4) var(--border-radius-4) 0 0;

  &::after {
    @include transition;
    @include size(0, rem(2px));

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-primary);
    content: '';
  }

  @include hover {

    &:hover {
      color: var(--color-primary);
      background-color: var(--color-grey-100);
    }
  }

  &.active {
    color: var(--color-primary);

    &::after {
      width: 100%;
    }
  }
}

.label {
  font-size: rem(12px);
}

.icon {
  @include size(rem(24px));
}

.subtitle {
  font-size: rem(13px);
  text-transform: uppercase;
}

.list {
  gap: var(--gap-12);
}

.section {
  @include make-spacer(py, var(--gap-12));
}

.colors {
  @include flex($align-items: center, $wrap: wrap);

  gap: var(--gap-10);
}

.color {
  @include transition;
  @include size(rem(20px));

  position: relative;
  border-radius: 50%;
  overflow: hidden;
  overflow: visible;
  opacity: 0.8;

  &::before,
  &::after {
    position: absolute;
    border-radius: 50%;
    content: '';
  }

  &::before {
    @include transition;

    inset: rem(-3px);
    background-color: var(--color-white);
    border: rem(1px) solid var(--color-primary);
    opacity: 0;
    content: '';
  }

  &::after {
    position: absolute;
    inset: 0;
    background-color: inherit;
    border: rem(1px) solid var(--color-grey-400);
  }

  @include hover {

    &:hover {
      opacity: 1;
    }
  }

  &.active {

    &::before {
      opacity: 1;
    }
  }
}

.meta {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.searches {
  @include flex($align-items: center, $wrap: wrap);

  gap: var(--gap-8);
}

.search {
  @include make-spacer(px, 12px);
  @include make-spacer(py, 2px);
  
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: var(--gap-4);
  border-radius: var(--border-radius-4);
  background-color: var(--color-secondary);
  color: var(--color-primary-hover);
  height: rem(32px);
  font-size: rem(14px);
  font-weight: var(--typography-medium);
  white-space: nowrap;

  &.gold {
    background: var(--gradient-gold);
    color: var(--color-white);
  }

  @include hover {

    &:hover {
      background-color: var(--color-secondary-hover);
    }
  }
}