@use 'scss/config' as *;
@use 'scss/modules/color' as *;

.block {
  padding-block: var(--gap-40);
}

.container,
.header,
.wrapper {
  @include flex($direction: column);
}

.container {
  gap: var(--gap-24);
}

.header {
  align-items: flex-start;
  gap: var(--gap-16);

  .back {
    min-width: unset;
  }
}

.wrapper {
  padding: var(--gap-24);
  gap: var(--gap-24);
  border-radius: var(--border-radius-8);
  background-color: var(--color-white);

  @include media-breakpoint-up(xl) {
    padding: var(--gap-32);
  }
}

.head {
  padding-bottom: var(--gap-12);
  border-bottom-width: rem(1px);
  border-bottom-style: solid;
}

.section {

  &:not(:last-child) {
    margin-bottom: var(--gap-16);
  }
}

.options {
  display: grid;
  align-items: flex-start;
  column-gap: var(--gap-32);
  row-gap: var(--gap-16);

  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(4, 1fr);
  }

  &.center {
    align-items: center;
  }

  &.end {
    align-items: flex-end;
  }
}

.list {
  @include flex($direction: column);

  column-gap: var(--gap-32);
  row-gap: var(--gap-16);

  @include media-breakpoint-up(lg) {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }
}

.colors {
  @include flex($align-items: center, $wrap: wrap);

  gap: var(--gap-10);
}

.color {
  @include color;
}

.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: var(--gap-16);
  background-color: var(--color-white);
  z-index: $z-index-9;
  box-shadow: var(--box-shadow-4-16);
}

.nav {
  @include flex(space-between, center);
}
