@import '@/scss/config';

.block {
  @include flex($align-items: center);
  @include make-spacer(py, var(--gap-2));

  gap: var(--gap-4);
  background-color: var(--color-gold);
  border-radius: var(--border-radius-4);
  width: fit-content;
  color: var(--color-white);

  &.lg {
    @include make-spacer(px, var(--gap-8));

    font-size: rem(14px);
  }

  &.sm {
    @include make-spacer(px, var(--gap-4));

    font-size: rem(12px);
  }
}