@use 'scss/config' as *;

.block {
  @include flex($align-items: center);

  gap: var(--gap-4);
  padding-block: var(--gap-2);
  background: var(--gradient-gold);
  border-radius: var(--border-radius-4);
  width: fit-content;
  color: var(--color-white);

  &.lg {
    padding-inline: var(--gap-8);
    font-size: rem(14px);
  }

  &.sm {
    padding-inline: var(--gap-4);
    font-size: rem(12px);
  }
}
