@use 'scss/config' as *;

.block {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: var(--gap-8);
  color: var(--color-grey-400);

  &::after,
  &::before {
    background-color: currentColor;
    height: rem(1px);
    content: '';
  }
}
