@use 'scss/config' as *;

.block {
  display: grid;
  grid-gap: var(--gap-24);
  font-size: rem(14px);

  @include media-breakpoint-up(md) {
    min-width: rem(488px);
  }
}

.title {

  @include media-breakpoint-up(md) {
    text-align: center;
  }
}

.text {
  text-align: center;
  font-size: rem(14px);
}

.link {
  margin-inline: var(--gap-4);
  color: var(--color-primary);
  font-weight: var(--typography-medium);
}

.social {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap-24);
}

.form {
  display: grid;
  gap: var(--gap-16);
}

.grid {
  display: grid;
  gap: var(--gap-16);
  align-items: flex-start;

  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(2, 1fr);
  }
}
