@use '@/scss/config' as *;

.block {
  @include make-spacer(mb, var(--gap-4));

  font-size: rem(10px);
  letter-spacing: rem(0.5px);
  text-transform: uppercase;
  font-weight: var(--typography-bold);
}

.icon {
  @include make-spacer(ml, var(--gap-4));

  color: var(--color-warning);
  font-size: rem(12px);
  line-height: 1;
}