@use 'scss/config' as *;

.react-select-container {
  height: 100%;
  font-weight: var(--typography-medium);
  cursor: pointer;

  .react-select {

    &__control {
      padding-left: var(--gap-12);
      height: 100%;
      border-radius: var(--border-radius-4);
      box-shadow: none;
      cursor: pointer;
      border: rem(1px) solid var(--color-grey-400);

      @include hover {
        border-color: var(--color-primary);
      }

      &--is-focused {
        border-color: var(--color-primary);
        box-shadow: 0 0 0 4px rgba(62, 71, 221, 0.16);
      }
    }

    &__placeholder {
      color: var(--color-text);
      font-size: rem(13px)
    }

    &__value-container {
      padding: 0;
    }

    &__input-container {
      margin: 0;

      input {
        font-size: rem(13px)!important;
      }
    }

    &__single-value {
      font-size: rem(13px);
    }

    &__indicator-separator {
      display: none;
    }

    &__indicator {
      @include flex(center, center);
      @include size(rem(32px), 100%);

      color: var(--color-text)!important;
      opacity: 0.5;
    }

    &__clear-indicator {
      display: none;
    }

    &__menu {
      overflow: hidden;
      border-radius: var(--border-radius-4);
      border: rem(1px) solid var(--color-grey-200);
      box-shadow: unset;
      z-index: $z-index-2;
    }

    &__menu-notice {
      font-size: rem(13px);
    }

    &__menu-list {
      @include scroll;

      padding-top: 0;
      max-height: rem(150px);
    }

    &__option {
      @include transition;

      padding: var(--gap-8);
      cursor: pointer;
      font-size: rem(13px);

      @include hover {
        background-color: var(--color-grey-200);
      }

      &--is-focused {
        background-color: var(--color-grey-300);
      }

      &--is-selected {
        background-color: var(--color-grey-100);
        color: var(--color-text);
      }
    }
  }
}
