@use 'scss/config' as *;

.block {
  @include size(100%, rem(40px));

  position: relative;

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
    user-select: none;
  }
}

.loading {
  @include flex($align-items: center);

  padding-left: rem(14px);
  height: 100%;
  background-color: var(--color-white);
  border-radius: var(--border-radius-4);
  border: rem(1px) solid var(--color-grey-400);
  font-weight: var(--typography-medium);
  font-size: rem(13px);
}
