@use 'scss/config' as *;

.block {
  @include flex($align-items: center, $direction: column);

  gap: var(--gap-24);
  text-align: center;
}

.decor {
  max-width: rem(410px);
}

.link {
  max-width: rem(320px);
  width: 100%;
}
