@use 'scss/config' as *;

.block {
  @include transition;

  display: grid;
  gap: var(--gap-8);
  flex-shrink: 0;
  border-radius: var(--border-radius-8);
  border-style: solid;
  border-width: rem(1px);
  padding: var(--gap-12);
  cursor: pointer;

  @include hover {
    border-color: var(--color-primary);

    .title {
      color: var(--color-primary);
    }
  }
}

.options {
  position: absolute;
  top: calc(100% + var(--gap-8));
  right: 0;
  padding: var(--gap-4);
  background-color: var(--color-white);
  border-radius: var(--border-radius-4);
  border-style: solid;
  border-width: rem(1px);
  z-index: $z-index-1;
}

.head {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  position: relative;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: rem(16px);
}

.tags {
  @include flex($align-items: center, $wrap: wrap);

  gap: var(--gap-6);
  overflow: hidden;
}

.tag {
  padding: var(--gap-2) var(--gap-8);
  border-radius: var(--border-radius-4);
  background-color: var(--color-secondary);
  text-transform: capitalize;
  font-size: rem(12px);
  font-weight: var(--typography-bold);
  word-break: break-all;
  color: var(--color-primary-hover);
}
