@use 'scss/config' as *;

.block {
  position: relative;
  flex-shrink: 0;
}

.count {
  position: absolute;
  top: var(--gap-4);
  right: var(--gap-4);
  padding: var(--gap-2) var(--gap-4);
  border-radius: var(--border-radius-4);
  background-color: var(--color-primary);
  font-size: rem(10px);
  color: var(--color-white);
}
