@use 'scss/config' as *;

.block {
  @include flex($align-items: center, $wrap: wrap);

  gap: var(--gap-6);
}

.tag {
  @include transition;
  @include flex($align-items: center);

  padding: var(--gap-2) var(--gap-8);
  border-radius: var(--border-radius-4);
  background-color: var(--color-secondary);
  font-size: rem(12px);
  font-weight: var(--typography-bold);
  white-space: nowrap;
  color: var(--color-primary-hover);
  height: rem(24px);

  &.alt {
    cursor: pointer;
    background-color: transparent;
    border: rem(1px) solid transparent;

    @include hover {
      border-color: var(--color-primary);
    }
  }
}
