@use 'scss/config' as *;

.block {
  @include transition;
  @include flex($direction: column);

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: rem(320px);
  z-index: $z-index-11;
  background-color: var(--color-white);
  box-shadow: var(--box-shadow-4-16);
  transform: translateX(-100%);
  overflow-y: hidden;
  max-height: 100%;

  @include media-breakpoint-up(lg) {
    position: sticky;
    top: calc(var(--header-height) + var(--gap-16));
    height: calc(100vh - var(--header-height) - var(--gap-32));
    border-radius: var(--border-radius-8);
    transform: none;
    z-index: $z-index-9;
  }

  &.active {
    transform: translateX(0)
  }
}

.header,
.content,
.footer {
  padding-top: var(--gap-16);
  padding-inline: var(--gap-16);
}

.section,
.wrapper {
  display: grid;
}

.title {
  @include flex(space-between, center);

  min-height: rem(38px);
}

.header {
  box-shadow: var(--box-shadow-4-16);
  border-bottom-width: rem(1px);
  border-bottom-style: solid;
}

.footer {
  @include flex($direction: column);

  padding-bottom: var(--gap-16);
  border-top-width: rem(1px);
  border-top-style: solid;
  gap: var(--gap-16);
}

.content {
  @include scroll;
  @include flex($direction: column);

  padding-bottom: var(--gap-8);
  gap: var(--gap-16);
  flex-grow: 1;
}

.tab {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-inline: rem(-16px);
  height: rem(68px);

  @include media-breakpoint-up(lg) {
    margin-top: var(--gap-8);
  }
}

.option {
  @include flex(center, center, column);

  position: relative;
  gap: var(--gap-8);
  border-radius: var(--border-radius-4) var(--border-radius-4) 0 0;

  &::after {
    @include transition;
    @include size(0, rem(2px));

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-primary);
    content: '';
  }

  @include hover {
    color: var(--color-primary);
    background-color: var(--color-grey-100);
  }

  &.active {
    color: var(--color-primary);

    &::after {
      width: 100%;
    }
  }
}

.label {
  font-size: rem(12px);
}

.icon {
  @include size(rem(24px));
}

.wrapper {
  gap: var(--gap-8);
}
