@import '@/scss/config';

.block {
  display: grid;
  grid-template-rows: minmax(rem(277px), 1fr) auto;
  border-radius: var(--border-radius-8);
  box-shadow: var(--box-shadow-4-8);
  background-color: var(--color-white);
  position: relative;

  @include media-breakpoint-up(md) {
    grid-template-rows: rem(320px) auto;
  }

  @include media-breakpoint-up(lg) {
    grid-template-columns: rem(277px) minmax(rem(277px), 1fr);
    grid-template-rows: 1fr;
    align-items: flex-start;
  }
}

.left,
.right {  
  position: relative;
  overflow: hidden;
}

.favorite,
.count {
  @include flex(center, center);

  position: absolute;
  right: var(--gap-12);
  z-index: $z-index-1;
}

.discount {
  position: absolute;
  top: var(--gap-16);
  left: rem(-8px);
  z-index: $z-index-2;

  &::before {
    @include size(rem(7px));

    position: absolute;
    display: block;
    clip-path: polygon(0 0, 100% 100%, 100% 0);
    left: rem(1px);
    bottom: rem(-6px);
    z-index: 1;
    background: var(--gradient-gold);
    content: '';
  }
}

.left {
  @include size(100%);
  
  border-radius: var(--border-radius-8);
  overflow: hidden
}

.right {
  @include make-spacer(px, var(--gap-12));
  @include make-spacer(pt, var(--gap-16));
  @include make-spacer(pb, var(--gap-12));
  @include flex($direction: column);

  gap: var(--gap-12);

  @include media-breakpoint-up(lg) {
    height: 100%;
  }
}

.footer {
  @include make-spacer(mt, auto);
  @include make-spacer(mb, 0);
  @include flex($align-items: baseline, $wrap: wrap);

  gap: var(--gap-16);
}

.meta {
  @include flex($align-items: flex-end, $direction: column);
  @include make-spacer(ml, auto);
}

.favorite {
  top: rem(12px);
  color: var(--color-grey-500);

  @include hover {

    &:hover {
      transform: scale(1.2);
    }
  }
}

.icon {
  color: var(--color-text);
}

.link {
  font-size: rem(18px);
  font-weight: var(--typography-bold);

  @include hover {

    &:hover {
      color: var(--color-primary-hover);
    }
  }
}

.options {
  @include flex($align-items: center, $wrap: wrap);

  gap: var(--gap-16);
}

.count {
  @include make-spacer(px, var(--gap-8));
  @include transition;
  @include size(fit-content, rem(32px));

  bottom: var(--gap-12);
  gap: var(--gap-8);
  border-radius: var(--border-radius-4);
  background-color: rgba(19, 28, 74, 0.48);
  min-width: rem(66px);
  cursor: pointer;
  color: var(--color-white);

  @include hover {

    &:hover {
      background-color: rgba(19, 28, 74, 0.9);
      transform: scale(1.06);
    }
  }
}

.slider {
  @include size(100%);

  position: relative;

  :global {

    .swiper-button-prev,
    .swiper-button-next {
      @include transition;
      @include size(rem(32px), 96px);
      @include make-spacer(mt, 0);

      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(19, 28, 74, 0.56);

      &::after {
        font-size: rem(12px);
        color: var(--color-white);
      }

      @include hover {

        &:hover {
          background-color: rgba(19, 28, 74, 0.8);
        }
      }

      &.swiper-button-disabled {
        display: none;
      }
    }

    .swiper-button-prev {
      left: 0;
      border-radius: 0 var(--border-radius-4) var(--border-radius-4) 0;
    }

    .swiper-button-next {
      right: 0;
      border-radius: var(--border-radius-4) 0 0 var(--border-radius-4);
    }

    .swiper-pagination-bullet {
      background-color: var(--color-grey-400);
      border: rem(1px) solid var(--color-grey-400);
      opacity: 1;

      &.swiper-pagination-bullet-active {
        background-color: transparent;
      }
    }
  }
}

.image {  
  object-fit: cover;
}

.vat {
  font-size: rem(12px);
  color: var(--color-grey-600);
}

.loading {
  position: absolute;
  inset: 0;
  border-radius: 0;
  z-index: $z-index-2;
}