@import '@/scss/config';

.block {
  @include flex(center, flex-end);

  position: fixed;
  inset: 0;
  z-index: $z-index-11;
  background-color: rgba(0, 0, 0, 0.15);

  @include media-breakpoint-up(md) {
    @include make-spacer(p, var(--gap-52));

    align-items: center;
  }

  &.alt {

    .header {
      @include make-spacer(pr, var(--gap-64));
      @include flex($align-items: center);

      border-bottom-width: rem(1px);
      border-bottom-style: solid;
    }

    .close {
      top: var(--gap-12);
      right: var(--gap-16);
    }
  }

  .close {
    position: absolute;
    top: var(--gap-10);
    right: var(--gap-16);
  
    @include media-breakpoint-up(md) {
      top: var(--gap-24);
    }
  }
}

.content {
  position: relative;
  background-color: var(--color-white);
  border-radius: rem(24px) rem(24px) 0 0;
  overflow: hidden;
  min-width: rem(320px);
  width: 100%;

  @include media-breakpoint-up(md) {
    border-radius: rem(24px);
    width: fit-content;
  }
}

.header {
  @include make-spacer(px, var(--gap-16));
  @include make-spacer(py, var(--gap-12));

  gap: rem(16px);

  @include media-breakpoint-up(md) {
    @include make-spacer(px, var(--gap-24));
  }
}

.body {
  @include make-spacer(p, var(--gap-16));

  @include media-breakpoint-up(md) {
    @include make-spacer(p, var(--gap-24));
  }
}