@use 'scss/config' as *;

.block {
  @include scroll;

  display: grid;
  align-items: flex-end;
  position: fixed;
  inset: 0;
  z-index: $z-index-11;
  background-color: rgba(0, 0, 0, 0.15);

  @include media-breakpoint-up(md) {
    padding: var(--gap-52);
    align-items: center;
    justify-content: center;
  }

  &.alt {

    .header {
      @include flex($align-items: center);

      padding-right: var(--gap-64);
      border-bottom-width: rem(1px);
      border-bottom-style: solid;
    }

    .close {
      top: var(--gap-8);
      right: var(--gap-12);
    }
  }

  .close {
    position: absolute;
    top: var(--gap-6);
    right: var(--gap-12);

    @include media-breakpoint-up(md) {
      top: var(--gap-16);
    }
  }
}

.content {
  position: relative;
  min-width: rem(320px);
  width: 100%;

  @include media-breakpoint-up(md) {
    border-radius: rem(24px);
    width: fit-content;
  }
}

.wrapper {
  background-color: var(--color-white);
  border-radius: rem(24px) rem(24px) 0 0;
  overflow: hidden;

  @include media-breakpoint-up(md) {
    border-radius: rem(24px);
  }
}

.header {
  padding: var(--gap-12) var(--gap-16);
  gap: rem(16px);

  @include media-breakpoint-up(md) {
    padding-inline: var(--gap-24);
  }
}

.body {
  padding: var(--gap-16);

  @include media-breakpoint-up(md) {
    padding: var(--gap-24);
  }
}
