@use 'scss/config' as *;

.block {
  @include flex;
  @include size(100%, rem(40px));

  position: relative;

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
    user-select: none;
  }

  @include hover {
    .input {
      border-color: var(--color-primary);
    }
  }
}

.input {
  @include transition(border-color);
  @include size(100%);

  padding-inline: var(--gap-12) var(--gap-32);
  border: rem(1px) solid var(--color-grey-400);
  font-size: rem(13px);
  overflow: hidden;
  background-color: var(--color-white);
  text-align: left;
  white-space: nowrap;
  border-radius: var(--border-radius-4);

  &::placeholder {
    color: var(--color-text);
  }

  &[type='datetime-local'],
  &[type='date'] {
    appearance: none;

    &::-ms-clear,
    &::-moz-clear,
    &::-ms-inner-spin-button,
    &::-moz-inner-spin-button {
      display: none;
    }

    &::-webkit-clear-button,
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button,
    &::-webkit-calendar-picker-indicator {
      @include size(rem(40px), 100%);

      cursor: pointer;
      position: absolute;
      right: 0;
      top: 0;
      opacity: 0;
      color: transparent;
      z-index: 1;
    }
  }

  &:focus {
    border-color: var(--color-primary);
    box-shadow: 0 0 0 4px rgba(62, 71, 221, 0.16);
  }
}

.close,
.icon {
  @include flex(center, center);
  @include size(rem(32px), 100%);
  @include absolute-center-right(0);

  cursor: pointer;
  opacity: 0.7;
}

.icon {
  pointer-events: none;
  user-select: none;
}
