@use '@/scss/config' as *;

.block {
  @include make-spacer(py, var(--gap-40));

  position: relative;
}

.container,
.cards {
  @include flex($direction: column);

  gap: var(--gap-16);
}

.meta {
  @include flex($align-items: flex-end, $direction: column);

  position: relative;
  gap: var(--gap-16);
  font-size: rem(12px);
  z-index: $z-index-3;
  white-space: nowrap;

  @include media-breakpoint-up(md) {
    flex-direction: row;
    align-items: center;
  }
}
