@use 'scss/config' as *;

.block {
  position: relative;
  padding-block: var(--gap-40);
}

.container,
.cards {
  @include flex($direction: column);

  gap: var(--gap-16);
}

.meta {
  @include flex($align-items: flex-end, $direction: column);

  position: relative;
  gap: var(--gap-16);
  z-index: $z-index-3;
  white-space: nowrap;
  font-size: rem(12px);

  @include media-breakpoint-up(md) {
    flex-direction: row;
    align-items: center;
  }
}
