@use 'scss/config' as *;

.block {
  padding: var(--gap-16) var(--gap-24);
  border-style: solid;
  border-width: rem(1px);
  border-radius: var(--border-radius-8);
  box-shadow: var(--box-shadow-16-24);
  background-color: var(--color-white);
  z-index: $z-index-10;

  @include media-breakpoint-up(lg) {
    position: sticky;
    top: calc(var(--header-height) + var(--gap-24) + rem(72px));
    margin-top: rem(-320px);
  }
}

.header {
  @include flex($direction: column);

  gap: var(--gap-8);
}

.body {
  margin-block: var(--gap-16);
}

.prize {
  @include flex(space-between, center);
}

.discount {
  @include flex(space-between, center);
}

.old {
  opacity: 0.7;
  text-decoration: line-through;
}
