@use 'scss/config' as *;

.block {
  @include flex(space-between, center);

  gap: var(--gap-4);
  font-size: rem(12px);
  white-space: nowrap;
  width: 100%;

  @include media-breakpoint-up(md) {
    justify-content: flex-start;
  }
}

.arrow,
.item {
  @include transition;
}

.counts,
.toggle {
  @include flex($align-items: center);

  gap: var(--gap-4);
}

.hr {
  @include size(rem(1px), rem(20px));

  display: none;
  margin-inline: var(--gap-12);
  background-color: var(--color-text);

  @include media-breakpoint-up(md) {
    display: inline-flex;
  }
}

.dropdown {
  position: relative;
}

.toggle {
  font-weight: var(--typography-bold);

  &.active {

    .arrow {
      transform: rotateZ(180deg);
    }
  }
}

.list {
  position: absolute;
  top: calc(100% + var(--gap-8));
  right: 0;
  padding: var(--gap-8);
  border-radius: var(--border-radius-4);
  background-color: var(--color-white);
  border-width: rem(1px);
  border-style: solid;
  z-index: $z-index-1;
  min-width: rem(130px);

  @include media-breakpoint-up(md) {
    left: 0;
    right: unset;
  }
}

.item {
  padding: var(--gap-4) var(--gap-8);
  border-radius: var(--border-radius-4);
  cursor: pointer;
  white-space: nowrap;

  @include hover {
    background-color: var(--color-grey-50);
  }

  &.active {
    color: var(--color-primary);
  }
}
