@use 'scss/config' as *;

.block {
  border-radius: var(--border-radius-8);
  background-color: var(--color-white);
  overflow: hidden;

  &.active {

    .body {
      height: fit-content;
    }

    .arrow {
      transform: rotateZ(180deg)
    }
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.icon,
.arrow {
  color: var(--color-primary);
}

.head {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: var(--gap-12);
  padding: var(--gap-20) var(--gap-16);
  font-weight: var(--typography-bold);
  cursor: pointer;

  @include media-breakpoint-up(md) {
    gap: var(--gap-16);
    padding: var(--gap-24) var(--gap-32);
    font-size: rem(18px);
  }
}

.arrow {
  @include transition;
}

.body {
  height: 0;
  overflow: hidden;
}

.content {
  padding: var(--gap-24) var(--gap-16);
  border-top-width: rem(1px);
  border-top-style: solid;

  @include media-breakpoint-up(md) {
    padding: var(--gap-32);
  }
}
