@import '@/scss/config';

.block {
  border-radius: var(--border-radius-8);
  background-color: var(--color-white);
  overflow: hidden;

  &.active {

    .body {
      height: fit-content;
    }

    .arrow {
      transform: rotateZ(180deg)
    }
  }
}

.icon,
.arrow {
  color: var(--color-primary);
}

.head {
  @include make-spacer(px, var(--gap-16));
  @include make-spacer(py, var(--gap-20));

  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: var(--gap-12);
  font-weight: var(--typography-bold);
  cursor: pointer;

  @include media-breakpoint-up(md) {
    @include make-spacer(py, var(--gap-24));
    @include make-spacer(px, var(--gap-32));

    gap: var(--gap-16);
    font-size: rem(18px);
  }
}

.arrow {
  @include transition;
}

.body {
  height: 0;
  overflow: hidden;
}

.content {
  @include make-spacer(py, var(--gap-24));
  @include make-spacer(px, var(--gap-16));

  border-top-width: rem(1px);
  border-top-style: solid;

  @include media-breakpoint-up(md) {
    @include make-spacer(p, var(--gap-32));
  }
}
