@import '@/scss/config';

.block {
  @include make-spacer(py, var(--gap-40));
  
  color: var(--color-grey-600);

  :global {

    .photo-editor-main {
  
      #photo-editor-modal {
        background-color: var(--color-white);
        border-radius: var(--border-radius-8);
        width: 100%;
        max-width: rem(600px);
      }

      button {
        border-radius: var(--border-radius-4);
        height: rem(32px);
        font-size: rem(12px);
      }

      label {
        color: var(--color-text);
      }

      svg {
        stroke: var(--color-text);
      }

      input {
        @include make-spacer(px, var(--gap-4));

        font-size: rem(12px);
        border-radius: var(--border-radius-4);
        border: 0;
      }

      canvas {
        // width: 100%!important;
        // height: auto!important;
        // aspect-ratio: 1 / 1;
      }
    }
  }
}

.container {
  @include make-spacer(mx, auto);
  @include flex($direction: column);

  gap: var(--gap-24);
  max-width: rem(800px);

  @include media-breakpoint-up(md) {
    gap: var(--gap-32);
  }
}

.head {
  @include flex($justify-content: space-between, $align-items: center, $wrap: wrap);
  @include make-spacer(mb, var(--gap-24));

  gap: var(--gap-8);
}

.grid {
  @include flex($direction: column);

  gap: var(--gap-24);
}

.footer {
  @include make-spacer(mt, var(--gap-24));
  @include flex($justify-content: flex-end);

  border-top-width: rem(1px);
  border-top-style: solid;

  @include media-breakpoint-up(md) {
    @include make-spacer(pt, var(--gap-24));
  }
}

.images {
  display: grid;
  // grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: var(--gap-8);

  @include media-breakpoint-up(sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-16);
  }
}

.picture {
  position: relative;

  @include hover {

    &:hover {

      .toggle {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.toggle {
  @include transition;
  @include make-spacer(p, var(--gap-4));
  @include flex(flex-end, center);

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  gap: var(--gap-4);
  background-color: rgba(0, 0, 0, 0.7);

  @include media-breakpoint-up(xl) {
    opacity: 0;
    visibility: hidden;
  }
}

.list {
  display: grid;
  gap: var(--gap-24);

  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.accept {
  @include make-spacer(p, var(--gap-24));

  display: grid;
  align-items: center;
  border-radius: var(--border-radius-8);
  border: rem(1px) dashed var(--color-primary);
  gap: var(--gap-8);

  @include media-breakpoint-up(sm) {
    grid-template-columns: 1fr auto;
  }
}

.options {
  @include make-spacer(mt, var(--gap-16));
  @include flex($direction: column);

  gap: var(--gap-12);
}

.button {
  min-width: rem(100px);
}

.hr {
  @include make-spacer(my, var(--gap-24));

  border: 0;
  background-color: var(--color-grey-200);

  @include media-breakpoint-up(md) {
    @include make-spacer(my, var(--gap-32));
  }
}

.colors {
  @include flex($align-items: center, $wrap: wrap);

  gap: var(--gap-10);
}

.color {
  @include transition;
  @include size(rem(20px));

  position: relative;
  border-radius: 50%;
  overflow: hidden;
  overflow: visible;
  opacity: 0.8;

  &::before,
  &::after {
    position: absolute;
    border-radius: 50%;
    content: '';
  }

  &::before {
    @include transition;

    inset: rem(-3px);
    background-color: var(--color-white);
    border: rem(1px) solid var(--color-primary);
    opacity: 0;
    content: '';
  }

  &::after {
    position: absolute;
    inset: 0;
    background-color: inherit;
    border: rem(1px) solid var(--color-grey-400);
  }

  @include hover {

    &:hover {
      opacity: 1;
    }
  }

  &.active {

    &::before {
      opacity: 1;
    }
  }
}