@use 'scss/config' as *;

.block {
  padding-block: var(--gap-40);
}

.grid,
.list,
.form {
  display: grid;
  column-gap: var(--gap-24);
  row-gap: var(--gap-12);
}

.container {
  @include flex($direction: column);

  gap: var(--gap-24);
  max-width: rem(800px);
  margin-inline: auto;

  @include media-breakpoint-up(md) {
    gap: var(--gap-32);
  }
}

.grid {
  align-items: start;

  &.bottom {
    align-items: flex-end;
  }

  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.phone {
  @include flex;

  gap: var(--gap-8);
}

.footer {
  @include flex($justify-content: flex-end);

  margin-top: var(--gap-24);
  border-top-width: rem(1px);
  border-top-style: solid;

  @include media-breakpoint-up(md) {
    padding-top: var(--gap-24);
  }
}

.group {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: var(--gap-16);
  padding: var(--gap-24);
  border-width: rem(1px);
  border-style: solid;
  border-radius: var(--border-radius-8);
}
