@use '@/scss/config' as *;

.block {
  position: relative;
}

.toggle {
  position: relative;
  flex-shrink: 0;
}

.count {
  @include make-spacer(py, var(--gap-2));
  @include make-spacer(px, var(--gap-4));

  position: absolute;
  top: var(--gap-4);
  right: var(--gap-4);
  border-radius: var(--border-radius-4);
  font-size: rem(10px);
  color: var(--color-white);
  background-color: var(--color-primary);
}

.dropdown {
  @include flex($direction: column);

  position: absolute;
  top: calc(100% + var(--gap-4));
  right: 0;
  border-radius: var(--border-radius-4);
  background-color: var(--color-white);
  overflow-y: hidden;
  border-width: rem(1px);
  border-style: solid;
  max-height: rem(300px);
  min-width: rem(350px);

  // @include media-breakpoint-up(lg) {}
}

.header,
.footer,
.body {
  @include make-spacer(p, var(--gap-12));
}

.body {
  @include flex($direction: column);

  gap: var(--gap-4);
}

.header {
  @include flex($justify-content: space-between);

  border-bottom-width: rem(1px);
  border-bottom-style: solid;
}

.footer {
  border-top-width: rem(1px);
  border-top-style: solid;
}

.item {
  @include make-spacer(pl, var(--gap-16));
  @include make-spacer(pr, var(--gap-8));
  @include transition;

  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: var(--gap-8);
  border-radius: var(--border-radius-4);
  position: relative;
  font-size: rem(14px);
  min-height: rem(38px);
  border-width: rem(1px);
  border-style: solid;
  cursor: pointer;

  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: rem(4px);
    content: '';
  }

  @include hover {

    &:hover {
      background-color: var(--color-grey-50);
      color: var(--color-primary);
    }
  }

  &.shares {

    &::before {
      background-color: rgba(#3e27c4, 0.2);
    }
  }
  
  &.selling {

    &::before {
      background-color: rgba(#07bc0c, 0.2);
    }
  }
  
  &.purchase {

    &::before {
      background-color: rgba(#3498db, 0.2);
    }
  }
  
  &.info {

    &::before {
      background-color: rgba(#ff9d32, 0.2);
    }
  }
}

.text {
  @include ellipsis;
}

.date {
  opacity: 0.8;
  font-size: rem(12px);
}