@use 'scss/config' as *;

.block {
  display: grid;
  grid-gap: var(--gap-24);
  font-size: rem(14px);

  @include media-breakpoint-up(md) {
    min-width: rem(488px);
  }
}

.title,
.subtitle {

  @include media-breakpoint-up(md) {
    text-align: center;
  }
}

.text {
  margin-inline: rem(-24px);
  margin-bottom: rem(-24px);
  padding: var(--gap-24);
  text-align: center;
  font-size: rem(14px);
  background-color: #edf1f8;
}

.link {
  margin-inline: var(--gap-4);
  color: var(--color-primary);
  font-weight: var(--typography-medium);
}

.form {
  display: grid;
  gap: var(--gap-16);
}
