@use 'scss/config' as *;

.block {
  @include flex(center, center);

  position: fixed;
  inset: 0;
  z-index: $z-index-12;
  width: 100vw;
}

.backdrop {
  position: absolute;
  inset: 0;
  background: var(--color-grey-800);
  opacity: 0.5;
}

.content {
  @include flex(center, center);

  padding-block: var(--gap-32);
  position: relative;
  height: 100dvh;
}

.close {
  position: absolute!important;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

.title {
  @include flex(center, center);

  position: relative;
  margin-bottom: var(--gap-16);
  padding-right: var(--gap-16);
  min-height: rem(32px);
  gap: var(--gap-8);
}

.arrow {
  position: absolute;
  left: rem(-16px);
  transform: rotateZ(90deg)
}

.wrapper {
  @include flex($direction: column);
  @include size(rem(384px), 100%);

  position: relative;
  background-color: var(--color-white);
  box-shadow: var(--box-shadow-16-36);
  border-radius: var(--border-radius-8);
}

.header,
.footer,
.body {
  padding-inline: var(--gap-32);
}

.header,
.body {
  padding-block: var(--gap-16);
}

.header {
  border-radius: var(--border-radius-8) var(--border-radius-8) 0 0;
  background-color: var(--color-grey-50);
  border-bottom-width: rem(1px);
  border-bottom-style: solid;
}

.body {
  overflow-y: auto;
  color: var(--color-grey-700);
  font-weight: var(--typography-bold);
  flex-grow: 1;
}

.footer {
  position: relative;
  z-index: 1;
  padding-bottom: var(--gap-16);
  background: linear-gradient(rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.85) 100%);
  border-radius: 0 0 var(--border-radius-8) var(--border-radius-8);

  &::after {
    background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
    position: absolute;
    top: rem(-40px);
    left: 0;
    right: 0;
    height: rem(40px);
    pointer-events: none;
    content: '';
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, auto);
  align-items: center;
  justify-content: flex-start;
  margin-bottom: var(--gap-16);
  gap: var(--gap-6);
}

.subtitle {
  margin-bottom: var(--gap-8);
  font-size: rem(11px);
  text-transform: uppercase;
}

.model {
  padding: var(--gap-12) var(--gap-8);
  border-bottom-width: rem(1px);
  border-bottom-style: solid;
  font-weight: var(--typography-regular);
}

.img {
  @include size(rem(32px));
}

.item {
  font-size: rem(14px);
  font-weight: var(--typography-regular);
}
