@use 'scss/config' as *;

.block {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: var(--gap-6);

  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.toggle {
  @include size(rem(24px));
  @include flex(center, center, column);

  &.active {

    .line {

      &:nth-child(1) {
        transform: translateY(rem(6px)) rotateZ(45deg);
      }

      &:nth-child(2) {
        transform: translateX(100%);
        opacity: 0;
      }

      &:nth-child(3) {
        transform: translateY(rem(-6px)) rotateZ(-45deg);
      }
    }
  }
}

.line {
  @include transition;
  @include size(100%, rem(2px));

  margin-block: var(--gap-2);
  background-color: var(--color-text);
}

.text {
  font-size: rem(14px);
}
