@use 'scss/config' as *;

.block {
  position: relative;
  flex-shrink: 0;
  display: none;

  @include media-breakpoint-up(lg) {
    display: block;
  }
}

.toggle {
  @include flex(center, center);
  @include size(48px);

  position: relative;
  flex-shrink: 0;
  border-radius: var(--border-radius-4);

  @include hover {
    background-color: var(--color-grey-50);
  }
}

.icon {
  @include size(24px);

  display: block;
  position: relative;
  border-radius: 50%;
  border: rem(2px) solid var(--color-grey-200);
  overflow: hidden
}

.image {
  @include size(rem(28px));
  @include absolute-center;
}

.dropdown {
  position: absolute;
  top: calc(100% + var(--gap-4));
  right: 0;
  padding: var(--gap-12);
  min-width: rem(180px);
  border-width: rem(1px);
  border-style: solid;
  background-color: var(--color-white);
  border-radius: var(--border-radius-4);
}

.option {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: var(--gap-8);
  align-items: center;
  padding: var(--gap-8) var(--gap-12);
  border-radius: var(--border-radius-4);
  width: 100%;
  overflow: hidden;
  font-size: rem(14px);
  text-align: left;

  @include hover {
    background-color: var(--color-grey-50);
  }

  &:not(:last-child) {
    margin-bottom: var(--gap-4);
  }
}

.text {
  font-size: rem(14px);
}
