@use 'scss/config' as *;

.scale,
.labels {
  grid-template-columns: repeat(5, 1fr);
  gap: var(--gap-4);
}

.title {
  margin-bottom: var(--gap-80);
  margin-inline: auto;
  text-align: center;
  font-size: rem(15px);
  max-width: rem(550px);

  @include media-breakpoint-up(lg) {
    margin-bottom: var(--gap-32);
  }
}

.wrapper {
  @include flex($justify-content: flex-end, $direction: column);

  min-height: rem(140px);
}

.prices {
  display: grid;
  gap: var(--gap-8);

  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(4, 1fr);
    padding-inline: 10%;
    gap: 0;
  }

  p {

    &:nth-child(2) {
      @include media-breakpoint-up(lg) {
        display: none;
      }
    }
  }
}

.price {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--gap-12);
  align-items: center;
  font-size: rem(13px);

  &:nth-child(1) {
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  @include media-breakpoint-up(lg) {
    grid-template-columns: 1fr;
    text-align: center;
  }
}

.labels {
  display: none;

  @include media-breakpoint-up(lg) {
    display: grid;
  }
}

.label {
  text-align: center;
  font-size: rem(11px);
  white-space: nowrap;
}

.scale {
  display: grid;
  margin-block: var(--gap-12);
  height: rem(8px);
}
