@use 'scss/config' as *;

.block {
  border-radius: var(--border-radius-8);
  background-color: var(--color-white);
  padding: var(--gap-24);
  max-width: rem(590px);
}

.body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: var(--gap-8);
  margin-bottom: var(--gap-24);

  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-24);
  }
}

.footer {
  @include flex(space-between);
}
