@import '@/scss/config';

.block {
  @include make-spacer(p, var(--gap-24));

  border-radius: var(--border-radius-8);
  background-color: var(--color-white);
  max-width: rem(590px);
}

.body {
  @include make-spacer(mb, var(--gap-24));

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: var(--gap-24);
}

.footer {
  @include flex(space-between);
}