@use 'scss/config' as *;
@use 'sass:math';

.block {

  .circle {
    @include transition;

    cursor: pointer;
    fill: var(--color-grey-200);

    @include hover {
      fill: var(--color-primary-hover);
    }

    &.active,
    &.selected {
      pointer-events: none;
    }

    &.active {
      fill: var(--color-primary);
    }

    &.selected {
      fill: var(--color-orange)
    }
  }
}

.header {
  padding-block: var(--gap-16) var(--gap-32);
  text-align: center;

  @include media-breakpoint-up(lg) {
    padding-top: 0;
  }
}

.body {
  padding-top: var(--gap-32);
  padding-inline: var(--gap-16);
}

.footer {
  display: grid;
  grid-template-columns: minmax(rem(220px), 1fr) auto minmax(rem(220px), 1fr);
  overflow-x: auto;
}

.hr {
  @include size(100%, rem(1px));

  background: repeating-linear-gradient(45deg, rgb(215, 225, 239), rgb(215, 225, 239) rem(9px), transparent rem(3px), transparent rem(18px));

  &.vertical {
    @include size(rem(1px), 100%);
  }
}

.card {
  @include flex($direction: column);

  position: relative;
  gap: var(--gap-12);
  overflow: hidden;
  padding: var(--gap-16) var(--gap-8);

  @include media-breakpoint-up(xl) {
    padding: (--gap-32);
  }

  &.active {
    pointer-events: none;

    .status {

      &::before {
        background-color: var(--color-primary-hover);
      }
    }
  }

  &.next {

    .status {

      &::before {
        background-color: var(--color-orange);
      }
    }
  }
}

.status {
  @include flex($align-items: center);

  gap: var(--gap-8);
  font-size: rem(12px);
  text-transform: uppercase;
  letter-spacing: rem(0.5px);

  &::before {
    @include size(rem(16px));

    border-radius: 50%;
    content: '';
  }
}

.title {
  min-height: rem(54px);
}

.image {
  aspect-ratio: math.div(rem(150px), rem(150px));
  height: rem(150px);


  @include media-breakpoint-up(md) {
    aspect-ratio: math.div(rem(270px), rem(270px));
    height: rem(270px);
  }
}

.list {
  padding: var(--gap-12);
  border-width: rem(1px);
  border-style: solid;
  border-radius: var(--border-radius-4);
}

.option {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: var(--gap-12);
  font-size: rem(14px);

  &:not(:last-child) {
    margin-bottom: var(--gap-8);
  }
}

.price {
  @include flex($align-items: flex-end, $direction: column);

  font-size: rem(12px);
}

.lower {
  color: var(--color-success);
  font-weight: var(--typography-bold);
}

.hiddenMobile {
  display: none;

  @include media-breakpoint-up(xl) {
    display: block;
  }
}

.hiddenDesktop {
  display: block;

  @include media-breakpoint-up(xl) {
    display: none;
  }
}


.prices {
  @include flex($wrap: wrap);

  padding-bottom: var(--gap-32);
  gap: var(--gap-12);
}

.button {
  @include flex($align-items: center);

  background-color: var(--color-grey-200);
  border-radius: var(--border-radius-4);
  padding: var(--gap-8);
  gap: var(--gap-4);
  font-size: rem(13px);

  &.active,
  &.selected {
    pointer-events: none;
    color: var(--color-white);
  }

  &.active {
    background-color: var(--color-primary);
  }

  &.selected {
    background-color: var(--color-orange)
  }
}

.loading {
  position: absolute;
  inset: 0;
  z-index: $z-index-3;
}
