@use 'scss/config' as *;

.block {
  position: fixed;
  inset: 0;
  background: var(--color-grey-800);
  z-index: $z-index-11;
  opacity: 0.5;

  &.sm {
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }
}
