@use 'scss/config' as *;

.block {
  @include transition(all);
  @include size(fit-content, rem(42px));

  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: var(--gap-8);
  border: rem(1px) solid var(--color-primary);
  overflow: hidden;
  padding: var(--gap-8) var(--gap-12);
  border-radius: var(--border-radius-4);
  font-size: rem(14px);
  text-align: left;
  color: var(--color-grey-600);

  &.wide {
    width: 100%;
  }

  &:active,
  &.active {
    background-color: var(--color-grey-100);
    color: var(--color-primary);
  }
}

.plus {
  color: var(--color-primary);
}

.arrow {
  transform: rotateZ(-90deg);
  color: var(--color-primary);
}
