@import '@/scss/config';

.block {
  @include make-spacer(pb, var(--gap-24));
}

.meta,
.grid,
.options {
  gap: var(--gap-16);
}

.tags,
.options {
  @include flex($align-items: center, $wrap: wrap);
}

.meta,
.body {
  @include flex($direction: column);
}

.head {
  @include make-spacer(pt, var(--gap-24));

  background-color: var(--color-white);
}

.header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: baseline;
  gap: var(--gap-32);
}

.main {
  display: grid;
  grid-template-columns: 1fr rem(416px);
  align-items: flex-start;
}

.body {
  @include make-spacer(py, var(--gap-40));

  gap: var(--gap-32);
}

.details {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
}

.title {
  line-height: 1;
}

.options {

  .option {
    gap: var(--gap-8);
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;

  .option {
    gap: var(--gap-16);
  }
}

.option {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  font-size: rem(14px);
  font-weight: var(--typography-bold);
}

.label {
  font-size: rem(11px);
  text-transform: uppercase;
}

.text {
  font-size: rem(16px);
}

.icon {
  color: var(--color-grey-600);
}

.tabs {
  position: sticky;
  top: var(--header-height);
  box-shadow: var(--box-shadow-4-16);
  background-color: var(--color-white);
  z-index: $z-index-10;
}

.scroll {
  @include make-spacer(pr, 416px);
  @include flex;

  gap: var(--gap-12);
  height: rem(73px);
}

.tab {
  @include flex(center, center);

  position: relative;
  cursor: pointer;

  &::after {
    @include size(0, rem(3px));
    @include transition;

    position: absolute;
    left: 0px;
    right: 0;
    bottom: 0;
    background-color: var(--color-primary-hover);
    content: '';
  }

  @include hover {

    &:hover {

      &::after {
        width: rem(3px);
  
        @include media-breakpoint-up(lg) {
          width: 100%;
        }
      }    
    }
  }

  &.active {
    color: var(--color-primary-hover);

    &::after {
      width: rem(3px);

      @include media-breakpoint-up(lg) {
        width: 100%;
      }
    }
  }
}

.slider {
  @include make-spacer(mt, var(--gap-24));

  position: relative;
  height: rem(600px);

  :global {

    .swiper-button-prev,
    .swiper-button-next {
      @include transition;

      @include size(rem(56px));
      @include make-spacer(mt, 0);

      top: 50%;
      transform: translateY(-50%);
      background-color: var(--color-white);
      border-radius: var(--border-radius-4);

      &::after {
        font-size: rem(24px);
        color: var(--color-primary);
      }

      @include hover {

        &:hover {
          background-color: var(--color-grey-100);
        }
      }

      &.swiper-button-disabled {
        display: none;
      }
    }

    .swiper-button-prev {
      left: var(--gap-24); 
    }

    .swiper-button-next {
      right: var(--gap-24);
    }

    .swiper-pagination-bullet {
      @include size(rem(12px));
      
      background-color: var(--color-white);
      border: rem(1px) solid var(--color-white);
      opacity: 1;

      &.swiper-pagination-bullet-active {
        background-color: transparent;
      }
    }

    .swiper-slide {
      position: relative;
      width: fit-content;

      @include hover {

        &:hover {
    
          div {
            opacity: 1
          }  
        }
      }
    }
  }
}

.show {
  @include transition;
  @include flex(center, center);
  @include absolute-filled;
  
  color: var(--color-white);
  cursor: pointer;
  opacity: 0;


  &::before {
    @include absolute-center;
    @include size(rem(32px));

    background-color: var(--color-grey-900);
    opacity: 0.48;
    border-radius: var(--border-radius-4);
    z-index: 0;
    content: '';
  }

  svg {
    position: relative;
  }
}

.image {
  object-fit: cover;
  border-left: rem(2px) solid var(--color-white);
  border-right: rem(2px) solid var(--color-white);
}