@use 'scss/config' as *;
@use 'scss/modules/color' as *;
@use 'sass:math';

.block {
  padding-bottom: var(--gap-24);
  letter-spacing: rem(0.5px);
  color: var(--color-grey-600);
}

.meta,
.options {
  gap: var(--gap-16);
}

.head,
.meta {
  @include flex($direction: column);
}

.features,
.info {

  li {

    &:not(:last-child) {
      margin-bottom: var(--gap-2);
      min-height: rem(26px);
    }
  }
}

.head {
  padding-bottom: var(--gap-24);
  background-color: var(--color-white);
  gap: var(--gap-24);

  @include media-breakpoint-up(lg) {
    padding-block: var(--gap-24) 0;
  }
}

.header {
  order: 2;
  display: grid;
  align-items: baseline;
  gap: var(--gap-32);

  @include media-breakpoint-up(lg) {
    grid-template-columns: auto 1fr;
    order: 1;
  }
}

.details {
  @include flex($align-items: baseline, $wrap: wrap);

  gap: var(--gap-16);

  @include media-breakpoint-up(lg) {
    flex-wrap: nowrap;
    gap: var(--gap-24);
  }
}

.hide {
  display: none;

  @include media-breakpoint-up(lg) {
    display: inline-flex;
  }
}

.back {
  position: absolute;
  top: var(--gap-12);
  left: var(--gap-12);
  background-color: rgba(0, 0, 0, 0.48);
  z-index: $z-index-2;

  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.main {
  display: grid;
  align-items: flex-start;

  @include media-breakpoint-up(lg) {
    grid-template-columns: 1fr rem(416px);
    gap: var(--gap-24)
  }
}

.body {
  padding-block: var(--gap-32);
  scroll-margin-top: rem(140px);
}

.title {
  width: 100%;
  line-height: 1;

  &.sm {
    margin-bottom: var(--gap-8);
  }

  &.lg {
    margin-bottom: var(--gap-32);
  }
}

.wrapper {
  padding: var(--gap-16);
  background-color: var(--color-white);
  border-radius: var(--border-radius-8);
  box-shadow: var(--box-shadow-16-24);

  @include media-breakpoint-up(lg) {
    padding: var(--gap-32);
  }
}

.grid {
  display: grid;
  gap: var(--gap-16);

  @include media-breakpoint-up(md) {
    gap: var(--gap-24);
  }

  &.sm {
    grid-template-columns: 1fr;

    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &.lg {
    grid-template-columns: 1fr;

    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media-breakpoint-up(lg) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.options {
  @include flex($align-items: center, $wrap: wrap);
}

.tabs {
  position: sticky;
  top: calc(var(--header-height) + rem(1px));
  box-shadow: rgba(72, 88, 133, 0.06) 0 rem(2px) rem(4px) rem(-1px), rgba(72, 88, 133, 0.1) 0 rem(4px) rem(6px) rem(-1px);
  background-color: var(--color-white);
  z-index: $z-index-9;
}

.scroll {
  @include flex;

  gap: var(--gap-12);
  overflow-x: auto;
  height: rem(73px);

  @include media-breakpoint-up(lg) {
    padding-right: rem(416px);
  }
}

.tab {
  @include flex(center, center);

  position: relative;
  cursor: pointer;
  flex-shrink: 0;
  font-size: rem(14px);

  &::after {
    @include size(0, rem(3px));
    @include transition;

    position: absolute;
    left: 0px;
    right: 0;
    bottom: 0;
    background-color: var(--color-primary-hover);
    content: '';
  }

  @include hover {
    color: var(--color-primary-hover);
  }

  &.active {
    color: var(--color-primary-hover);

    &::after {
      width: 100%;
    }
  }
}

.column {
  overflow: hidden;
}

.slider {
  order: 1;
  position: relative;
  height: rem(300px);

  @include media-breakpoint-up(md) {
    height: rem(420px);
  }

  @include media-breakpoint-up(lg) {
    order: 2;
    height: rem(600px);
  }

  :global {

    .swiper-button-prev,
    .swiper-button-next {
      @include transition;
      @include size(rem(56px));

      display: none;
      top: 50%;
      transform: translateY(-50%);
      margin-top: 0;
      background-color: var(--color-white);
      border-radius: var(--border-radius-4);

      &::after {
        font-size: rem(24px);
        color: var(--color-primary);
      }

      @include media-breakpoint-up(md) {
        display: inline-flex;
      }

      @include hover {
        background-color: var(--color-grey-100);
      }

      &.swiper-button-disabled {
        display: none;
      }
    }

    .swiper-button-prev {
      left: var(--gap-24);
    }

    .swiper-button-next {
      right: var(--gap-24);
    }

    .swiper-pagination {
      position: absolute;
      left: auto;
      right: var(--gap-12);
      bottom: var(--gap-12);
      padding-inline: var(--gap-8);
      width: fit-content;
      background-color: rgba(0, 0, 0, 0.48);
      border-radius: var(--border-radius-4);
      font-weight: var(--typography-medium);
      color: var(--color-white);

      @include media-breakpoint-up(md) {
        display: none;
      }
    }

    .swiper-slide {
      position: relative;
      width: fit-content;

      @include hover {
        div {
          opacity: 1
        }
      }
    }
  }
}

.show {
  @include transition;
  @include flex(center, center);
  @include absolute-filled;

  color: var(--color-white);
  cursor: pointer;
  opacity: 0;


  &::before {
    @include absolute-center;
    @include size(rem(32px));

    background-color: var(--color-grey-900);
    border-radius: var(--border-radius-4);
    opacity: 0.48;
    z-index: 0;
    content: '';
  }

  svg {
    position: relative;
  }
}

.image {
  aspect-ratio: math.div(rem(300px), rem(300px));
  object-fit: cover;
  border-left: rem(2px) solid var(--color-white);
  border-right: rem(2px) solid var(--color-white);
}

.features {
  @include flex($direction: column);
}

.feature {
  display: inline-flex;
  padding: var(--gap-4) var(--gap-6);
  border-radius: var(--border-radius-4);
  font-size: rem(12px);

  &.active {
    background-color: var(--color-secondary);
    color: var(--color-primary-hover);
    font-weight: var(--typography-bold);
  }
}

.info {

  li {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: rem(14px);

    &:not(:last-child) {
      align-items: center;
      min-height: rem(32px);
    }

    &:last-child {
      align-items: baseline;
    }
  }

  strong {
    @include flex($align-items: center);

    gap: var(--gap-8);
  }
}

.contacts {
  padding-block: var(--gap-32) var(--gap-16);
  background-color: var(--color-white);
}

.social {
  @include media-breakpoint-up(lg) {
    padding-right: calc(rem(436px) + var(--outer-gap));
  }
}

.color {
  @include color;
}

.link {
  color: var(--color-primary);
  font-weight: var(--typography-bold);
}
