@use 'scss/config' as *;

.block {
  position: sticky;
  top: 0;
  z-index: $z-index-11;
  background-color: var(--color-white);
  border-bottom-width: rem(1px);
  border-bottom-style: solid;

  @include media-breakpoint-up(lg) {
    justify-content: flex-start;
  }
}

.container {
  @include flex(space-between, center);

  gap: var(--gap-16);
  height: var(--header-height);

  @include media-breakpoint-up(lg) {
    justify-content: flex-start;
    gap: var(--gap-32);
  }
}

.wrapper {
  @include flex($align-items: center);

  flex-shrink: 0;
}
