@use 'scss/config' as *;

.block {
  @include flex(center, center);
  @include size(rem(48px));
  @include transition;

  position: relative;
  gap: var(--gap-16);
  border-radius: var(--border-radius-4);
  border: rem(1px) solid var(--color-grey-100);
  background-color: var(--color-grey-100);
  color: var(--color-grey-700);
  font-size: rem(14px);
  font-weight: var(--typography-medium);
  cursor: pointer;

  @include hover {

    &:not(.active) {
      background-color: var(--color-grey-200);
      border-color: var(--color-grey-200);
    }
  }

  &.wide {
    @include size(100%, auto);

    padding: var(--gap-2) var(--gap-12);
    background-color: transparent;
    justify-content: flex-start;
    border-color: transparent;

    @include hover {
      &:not(.active) {
        background-color: var(--color-grey-100);
        border-color: var(--color-grey-100);
      }
    }

    .count {
      position: static;
    }
  }

  &.active {
    border-color: var(--color-primary);
    background-color: var(--color-grey-200);
    color: var(--color-primary);
  }
}

.count {
  @include flex(center, center);
  @include size(rem(16px));

  position: absolute;
  top: rem(-8px);
  right: rem(-8px);
  border-radius: 50%;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: rem(9px);
  font-weight: var(--typography-bold);
  overflow: hidden;
}

.icon {
  padding: var(--gap-2);
  background-color: var(--color-success);
}

.img {
  @include size(rem(32px));
}

.remove {
  @include size(rem(32px));
  @include flex(center, center);

  margin-inline: auto 0;
  color: var(--color-primary);
}
