@import '@/scss/config';

.block {
  display: grid;
  grid-gap: var(--gap-24);
  font-size: rem(14px);

  @include media-breakpoint-up(md) {
    min-width: rem(488px);
  }
}

.title {

  @include media-breakpoint-up(md) {
    text-align: center;
  }
}

.text {
  text-align: center;
  font-size: rem(14px);
}

.link {
  @include make-spacer(mx, var(--gap-4));

  color: var(--color-primary);
  font-weight: var(--typography-medium);
}

.social {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap-24);
}

.divider {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: var(--gap-8);
  color: var(--color-grey-400);

  &::after,
  &::before {
    background-color: currentColor;
    height: rem(1px);
    content: '';
  }
}

.form {
  display: grid;
  gap: var(--gap-16);
}

.restore {
  text-align: right;
  color: var(--color-primary);
  font-weight: var(--typography-medium);
}