@use 'scss/config' as *;

.block {
  @include size(100%, rem(60px));
  @include flex;

  gap: var(--gap-4);
  padding: var(--gap-4);
  background: var(--color-grey-200);
  border: rem(1px) solid var(--color-grey-300);
  border-radius: var(--border-radius-8);
  overflow-x: auto;
}

.button {
  padding-inline: var(--gap-12);
  min-width: rem(100px);
  flex: 1 0 auto;
  border-radius: var(--border-radius-4);
  font-weight: var(--typography-bold);
  font-size: rem(14px);

  &.active {
    background-color: var(--color-primary);
    background-image: var(--gradient-blue);
    color: var(--color-white);
  }
}
