@import '@/scss/config';

.block {
  @include flex(center, center);

  position: fixed;
  inset: 0;
  z-index: $z-index-11;
}

.backdrop {
  position: absolute;
  inset: 0;
  background: var(--color-grey-800);
  opacity: 0.5;
}

.content {
  @include flex(center, center);
  @include make-spacer(py, var(--gap-32));

  position: relative;
  height: 100dvh;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%)
}

.title {
  @include make-spacer(mb, var(--gap-16));
  @include make-spacer(pr, var(--gap-16));
  @include flex(center, center);

  position: relative;
  min-height: rem(32px);
  gap: var(--gap-8);
}

.arrow {
  position: absolute;
  left: rem(-16px);
  transform: rotateZ(90deg)
}

.wrapper {
  @include flex($direction: column);
  @include size(rem(384px), 100%);
  
  position: relative;
  background-color: var(--color-white);
  box-shadow: var(--box-shadow-16-36);
  border-radius: var(--border-radius-8);
}

.header,
.footer,
.body {
  @include make-spacer(px, var(--gap-32));
}

.header,
.body {
  @include make-spacer(py, var(--gap-16));
}

.header {
  border-radius: var(--border-radius-8) var(--border-radius-8) 0 0;
  background-color: var(--color-grey-50);
  border-bottom-width: rem(1px);
  border-bottom-style: solid;
}

.body {
  overflow-y: auto;
  color: var(--color-grey-700);
  font-weight: var(--typography-bold);
  flex-grow: 1;
}

.footer {
  @include make-spacer(pb, var(--gap-16));

  position: relative;
  z-index: 1;
  background: linear-gradient(rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.85) 100%);

  &::after {
    background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
    position: absolute;
    top: rem(-40px);
    left: 0;
    right: 0;
    height: rem(40px);
    pointer-events: none;
    content: '';
  }
}

.grid {
  @include make-spacer(mb, var(--gap-16));

  display: grid;
  grid-template-columns: repeat(6, auto);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6);
}

.subtitle {
  @include make-spacer(mb, var(--gap-8));

  font-size: rem(11px);
  text-transform: uppercase;
}

.model {
  @include make-spacer(py, var(--gap-12));
  @include make-spacer(px, var(--gap-8));
  
  border-bottom-width: rem(1px);
  border-bottom-style: solid;
  font-weight: var(--typography-regular);
}

.img {
  @include size(rem(32px));
}

.item {
  font-size: rem(14px);
  font-weight: var(--typography-regular);
}