@import '@/scss/config';

.tooltip {
  @include make-spacer(p, var(--gap-4));

  background-color: var(--color-primary);
  border-radius: var(--border-radius-4);
  color: var(--color-white);
  line-height: 1;
  font-size: rem(12px);
}

.header {
  @include make-spacer(mb, var(--gap-8));
  @include flex($justify-content: space-between, $align-items: center, $wrap: wrap);

  gap: var(--gap-8);
}

.discount {
  font-size: rem(12px);
  line-height: 1.2;
  text-transform: uppercase;
}

.days {
  font-size: rem(14px);
}