@use 'scss/config' as *;
@use 'scss/modules/color' as *;

.block {
  padding-block: var(--gap-40);
}

.grid,
.list {
  display: grid;

  column-gap: var(--gap-24);
  row-gap: var(--gap-12);
}

.container {
  @include flex($direction: column);

  gap: var(--gap-24);
  max-width: rem(800px);
  margin-inline: auto;

  @include media-breakpoint-up(md) {
    gap: var(--gap-32);
  }
}

.head {
  @include flex($justify-content: space-between, $align-items: center, $wrap: wrap);

  gap: var(--gap-8);
  margin-bottom: var(--gap-24);
}

.list {

  &.bottom {
    align-items: flex-end;
  }

  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.row {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: var(--gap-24);
  align-items: flex-end;
}

.phone {
  @include flex;

  gap: var(--gap-8);
}

.footer {
  @include flex($justify-content: flex-end);

  margin-top: var(--gap-24);
  border-top-width: rem(1px);
  border-top-style: solid;

  @include media-breakpoint-up(md) {
    padding-top: var(--gap-24);
  }
}

.images {
  display: grid;
  align-items: center;
  gap: var(--gap-8);

  @include media-breakpoint-up(sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-16);
  }
}

.picture {
  position: relative;

  @include hover {
    .toggle {
      opacity: 1;
      visibility: visible;
    }
  }
}

.toggle {
  @include transition;
  @include flex(flex-end, center);

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: var(--gap-4);
  gap: var(--gap-4);
  background-color: rgba(0, 0, 0, 0.7);

  @include media-breakpoint-up(xl) {
    opacity: 0;
    visibility: hidden;
  }
}

.accept {
  display: grid;
  align-items: center;
  border-radius: var(--border-radius-8);
  border: rem(1px) dashed var(--color-primary);
  padding: var(--gap-24);
  gap: var(--gap-8);

  @include media-breakpoint-up(sm) {
    grid-template-columns: 1fr auto;
  }
}

.options {
  @include flex($direction: column);

  gap: var(--gap-12);
  margin-top: var(--gap-8);
}

.hr {
  margin-block: var(--gap-24);
  border: 0;
  background-color: var(--color-grey-200);

  @include media-breakpoint-up(md) {
    margin-block: var(--gap-32);
  }
}

.colors {
  @include flex($align-items: center, $wrap: wrap);

  gap: var(--gap-10);
}

.color {
  @include color;
}
