@use 'scss/config' as *;

.block {
  position: relative;
  padding-bottom: var(--gap-16);
  min-height: 100vh;

  @include media-breakpoint-up(lg) {
    padding-top: var(--gap-16);
  }
}

.container {
  @include media-breakpoint-up(lg) {
    display: grid;
    grid-template-columns: rem(320px) 1fr;
    align-items: flex-start;
    gap: var(--gap-32);
  }
}

.content {
  display: grid;
  gap: var(--gap-16);
  align-self: flex-start;
}

.meta {
  display: grid;
  gap: var(--gap-16);
  z-index: $z-index-3;

  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(2, 1fr);
    min-height: rem(32px);
  }
}

.searches {
  @include flex($align-items: center);

  position: sticky;
  top: var(--header-height);
  inset-inline: 0;
  z-index: $z-index-9;
  gap: var(--gap-8);
  margin-inline: var(--outer-gap-revert);
  padding-left: var(--outer-gap);
  background-color: var(--color-white);
  border-bottom-width: rem(1px);
  border-bottom-style: solid;
  overflow: hidden;
  height: rem(51px);

  @include media-breakpoint-up(lg) {
    position: static;
    background-color: transparent;
    z-index: $z-index-1;
    margin-inline: 0;
    padding-left: 0;
    border-bottom: 0;
    height: auto;
  }
}

.list {
  @include flex($align-items: center);

  gap: var(--gap-8);
  overflow-x: auto;
  padding-right: var(--outer-gap);
  height: 100%;

  @include media-breakpoint-up(lg) {
    padding-right: 0;
    flex-wrap: wrap;
    overflow-x: unset;
    height: unset;
  }

  & > * {
    flex-shrink: 0;
  }
}

.toggle {

  @include media-breakpoint-up(lg) {
    display: none!important;
  }
}

.cards {
  display: grid;
  gap: var(--gap-16);

  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
  }

  @include media-breakpoint-up(lg) {
    grid-template-columns: 1fr;
  }
}

.empty {
  padding-block: var(--gap-64);
  margin-inline: auto;
  max-width: rem(300px);
  text-align: center;
  line-height: 1.5;
  letter-spacing: rem(1px);

  h6 {
    color: var(--color-primary);
    font-size: rem(16px);
    text-transform: uppercase;
    letter-spacing: rem(1px);
  }

  p {
    padding-block: var(--gap-6);
    font-size: rem(14px);
  }
}
