@use '@/scss/config' as *;

.block {
  @include make-spacer(pb, var(--gap-16));

  position: relative;
  min-height: 100vh;

  @include media-breakpoint-up(lg) {
    @include make-spacer(pt, var(--gap-16));
  }
}

.container {

  @include media-breakpoint-up(lg) {
    display: grid;
    grid-template-columns: rem(320px) 1fr;
    align-items: flex-start;
    gap: var(--gap-32);
  }
}

.content {
  position: relative;
  display: grid;
  gap: var(--gap-16);
  align-self: flex-start;
}

.meta {
  display: grid;
  gap: var(--gap-16);
  position: relative;
  z-index: $z-index-3;

  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}

.searches {
  @include flex($align-items: center);
  @include make-spacer(mx, var(--outer-gap-revert));
  @include make-spacer(pl, var(--outer-gap));

  position: sticky;
  top: var(--header-height);
  left: 0;
  right: 0;
  z-index: $z-index-9;
  gap: var(--gap-8);
  background-color: var(--color-white);
  border-bottom-width: rem(1px);
  border-bottom-style: solid;
  overflow: hidden;
  height: rem(51px);

  @include media-breakpoint-up(lg) {
    @include make-spacer(m, 0);
    @include make-spacer(p, 0);

    position: static;
    background-color: transparent;
    z-index: $z-index-1;
    border-bottom: 0;
    height: auto;
  }
}

.list {
  @include flex($align-items: center);
  @include make-spacer(pr, var(--outer-gap));

  gap: var(--gap-8);
  overflow-x: auto;
  height: 100%;

  @include media-breakpoint-up(lg) {
    @include make-spacer(p, 0);
    
    flex-wrap: wrap;
    overflow-x: unset;
    height: unset;
  }
}

.search {
  @include make-spacer(px, var(--gap-12));
  @include make-spacer(py, var(--gap-2));
  
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: var(--gap-6);
  border-radius: var(--border-radius-4);
  background-color: var(--color-secondary);
  height: rem(32px);
  color: var(--color-primary-hover);
  font-size: rem(13px);
  font-weight: var(--typography-medium);
  white-space: nowrap;
  text-transform: capitalize;

  &.gold {
    background: var(--gradient-gold);
    color: var(--color-white);
  }

  &.blue {
    background: var(--gradient-blue);
    color: var(--color-white);

    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  @include hover {

    &:hover {
      background-color: var(--color-secondary-hover);
    }
  }
}

.cards {
  display: grid;
  gap: var(--gap-16);

  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
  }

  @include media-breakpoint-up(lg) {
    grid-template-columns: 1fr;
  }
}

.empty {
  @include make-spacer(py, var(--gap-64));
  @include make-spacer(mx, auto);

  max-width: rem(300px);
  text-align: center;
  line-height: 1.5;
  letter-spacing: rem(1px);

  h6, 
  button {
    color: var(--color-primary);
    letter-spacing: rem(1px);
  }

  h6 {
    font-size: rem(16px);
    text-transform: uppercase;
  }

  button {
    font-weight: var(--typography-bold);


    @include hover {

      &:hover {
        text-decoration: underline;
      }
    }
  }

  p {
    @include make-spacer(py, var(--gap-6));

    font-size: rem(14px);
  }
}