@use 'scss/config' as *;

.menu {
  @include transition;
  @include size(rem(320px), 100%);
  @include flex($direction: column);

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: var(--gap-18);
  transform: translateX(-100%);
  background-color: var(--color-white);
  overflow-y: auto;
  font-weight: var(--typography-medium);
  z-index: $z-index-10;

  @include media-breakpoint-up(lg) {
    @include size(100%);

    padding: 0;
    flex-direction: row;
    position: static;
    gap: var(--gap-12);
    background-color: transparent;
    transform: translateX(0);
    background-color: transparent;
    overflow-y: unset;
  }

  @include media-breakpoint-up(xl) {
    gap: var(--gap-24);
  }

  &.active {
    transform: translateX(0);
  }
}

.item {
  position: relative;

  @include media-breakpoint-up(lg) {
    height: 100%;
  }
}

.meta {
  display: grid;
  gap: var(--gap-18);
  margin-bottom: var(--gap-18);

  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.close {
  @include size(rem(24px));

  padding: 0;
  color: var(--color-primary);
}

.link {
  @include flex($align-items: center);
  @include transition;

  position: relative;
  cursor: pointer;
  gap: var(--gap-4);
  margin-inline: rem(-18px);
  padding-inline: var(--gap-18);
  height: rem(48px);
  font-size: rem(18px);

  @include media-breakpoint-up(lg) {
    padding-inline: 0;
    margin-inline: 0;
    font-size: rem(14px);
    height: 100%;

    @include hover {
      color: var(--color-primary-hover);

      &::after {
        width: 100%;
      }
    }
  }

  &::after {
    @include transition;

    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: var(--color-primary-hover);
    content: '';

    @include media-breakpoint-up(lg) {
      height: rem(3px);
      width: 0;
      top: auto;
    }
  }

  &.inner {

    &::after {
      display: none;
    }
  }

  &.active {
    color: var(--color-primary-hover);

    &::after {
      width: rem(3px);

      @include media-breakpoint-up(lg) {
        width: 100%;
      }
    }

    .icon {
      transform: rotateZ(180deg);
    }
  }
}

.icon {
  @include transition(transform);

  font-size: rem(12px);
}

.dropdown {
  @include flex($direction: column);

  border-radius: var(--border-radius-4);
  background-color: var(--color-grey-50);
  z-index: $z-index-1;

  @include media-breakpoint-up(lg) {
    position: absolute;
    top: calc(100% - var(--gap-8));
    left: 50%;
    padding: var(--gap-12);
    transform: translateX(-50%);
    min-width: rem(148px);
    border-width: rem(1px);
    border-style: solid;
    background-color: var(--color-white);
    gap: var(--gap-4);
  }
}
